body {
    font-family: 'Roboto', sans-serif; 
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1f2937;
    margin: 0;
}

.header-container {
    background-color: #1f2937;
    height: 500px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25rem;
    margin-bottom: 100px;
}

.logo {
    font-size: 24px;
    color:#f9faf8;
    font-weight: bold;
    margin-right: 15px;
}

.nav {
    list-style: none;
    display: flex;
    gap: 1rem;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 1rem;
}

.hero-main {
    width: 500px;
    height: 250px;
    padding: 0px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin: 10px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}

.header-button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

.image {

}

img {
    width: 500px;
    height: 250px;
}

.content-container {
    background-color: white;
    height: 500px;
    padding-bottom: 170px;
}

.content-text-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.content-text {
    color:#1f2937;
    font-size: 36px;
    font-weight: extra-bold;
}

.content-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.content-pairing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-image {
    border-radius: 15px;
    border: 3px solid #3882f6;
    width: 150px;
    height: 150px;
}

.content-subtext-container {
    width: 200px;
    height: 100px;
}

.content-subtext {
    color: rgb(107, 104, 104);
    font-size: 18px;
    text-align: center;
}

.quote-container {
    background-color: #e5e7eb;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
    flex-shrink: 1;
}

.quote-flex {
    align-self: center;
}

.quote {
    color:#1f2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quote-name-flex {
    display: flex;
    justify-content: flex-end;
}

.quote-name {
    color: #1f2937;
    font-size: 24px;
    font-weight: bold;
}

.sign-up-container {
    background-color: white;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up {
    background-color: #3882f6;
    border-radius: 10px;
    width: 1000px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-shrink: 1;
    margin-top: 40px;
    margin-bottom: 40px;
}

.sign-up-flex {
    display: flex;
    flex-direction: column;
}

.sign-up-title {
    color:#e5e7eb;
    font-size: 24px;
    margin-bottom: 5px;
}

.sign-up-text {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 0px;
}

.sign-up-button {
    background-color: #3882f6;
    color:#e5e7eb;
    border: none;
    border: 2px solid #e5e7eb;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 7px 40px;
}

.footer {
    background-color: #1f2937;
    color:#e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}